.gantt-container {
  height: calc(100vh - 50px - 200px);
  background-color: #707070;
  background:#707070;
  color: #707070;
  box-shadow: 0 0 5px #bd263a;
}
.gantt_task_progress{
  background:#a11226;

}
.gantt_save_btn_set{background:#bd263a;text-shadow:0 -1px 0 #248a9f;color:#fff};;
.gantt_ok_button{background:#bd263a;text-shadow:0 -1px 0 #248a9f;color:#fff;font-weight:700;border-width:0}
.gantt_task_line{border-radius:2px;position:absolute;box-sizing:border-box;background-color:#bd263a;border:1px solid #2898b0;-webkit-user-select:none;-moz-user-select:none;-moz-user-select:-moz-none};
.gantt_link_target{box-shadow:0 0 3px #bd263a};
.gantt_delete_button{background:#bd263a;text-shadow:0 -1px 0 #248a9f;color:#fff;font-weight:700;border-width:0};

.gantt_grid_head_cell_gantt_grid_head_add.gantt_last_cell { background: #bd263a; color: #bd263a; background-color: #bd263a;}
